body{
    background-image: url(/Users/codybonsma/gt-ft/homework/CodyBonsma-Portfolio/assets/ignasi_pattern_s.png);
    
}
/* edits for the main content container on index.html */
.container{
    background: white;
    height: 500px;
    width: 40%;
    padding: 20px;
    margin: 50px;
   
}

#name{
    padding: 3px;
    background: #46a68b;
    color: whitesmoke;
}