body{
    background-color: beige;
    
}
/* edits for the main content container on index.html */
.container{
    border: double;
    height: 500px;
    width: 40%;
    padding: 20px;
}

#name{
    background: #46a68b;
}