/* this hold the background image for all the pages */
body {
  background-image: url("./assets/ignasi_pattern_s.png");
}
/* edits for the main content container on index.html */
.container {
  background: white;
  height: 50%;
  width: 40%;
  padding: 20px;
  margin: 10%;
  margin-left: 20%;
}
/* edits for the main content container on the portfolio page */
.container-portfolio {
  background: white;
  width: 60%;
  height: 50%;
  padding: 20px;
  margin: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
/* ID for the name box in the navbar */
#name {
  padding: 3px;
  background: #58b094;
  color: whitesmoke;
}
/* ID for the picture in the main content box */
#picture {
  width: 40%;
  margin: 10px;
}
/* this is the portfolio heading on the portfolio page */
#page-heading {
  color: #58b094;
}
/* placeholder images for the portfolio page */
.portfolio-image {
  margin: 10px;
  width: 100%;
  padding: 10px;
}
/* this will be the footer for the pages */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: darkgray;
  opacity: 0.7;
  border-top: 5px solid teal;
  text-align: center;
}